{% extends 'base.html.twig' %}
{% block body %}
    <h2>Welcome to Series !</h2>
{% endblock %}

{% block tiltle %}
    {# parent() récupére le contenu du bloc base.html.twig, soit series #}
    {{ parent() }}| Home
{% endblock %}